html {
    //height: 100%;
    
}

#scene {

    background-color: rgb(55, 190, 190);
    background: linear-gradient(to bottom, teal, purple);
    //opacity: 60%;
    display: flex;
    background-color: red;
    justify-content: center;
    

}
#container{
    
    background-color: rgb(206, 206, 206);
    padding: 1em;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    
}

.gameScene{
    background-image: url('backgroundHalloween.gif');
    background-color: wheat;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 240px;
}

@media (max-width: 450px) {
    .gameScene {
        width: 300px;
    }
}

.scoreboard{
    top: 0;
    background-color: rgb(109, 64, 86);
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    opacity: 70%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    height: 2em;
    
}

.score{
    margin-top: auto;
    display: flex;
    gap: 10px;
}

img{
    width: 150px;
    align-items: center;
    align-content: center;
}

.left .right img{
    background-color: aqua;
    border: 1px solid black;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.characters {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

@font-face {
    font-family: retroFont;
    src: url(zig_____.ttf);
}

#resultMessage {
    text-align: center;
    color: rgb(12, 160, 25);
    font-family: retroFont;
}

#canvas {
    position: absolute;
    border: 1px solid rgb(55, 190, 190);
}

#spritesheet{
  
}

#playerScore{
    font-family: retroFont;
    margin-top: auto;
    color: rgb(114, 250, 186);
}

#compScore{
    font-family: retroFont;
    margin-top: auto;
    color: rgb(248, 51, 51);
}